/*---------------------top nav--------------------- */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: red;
}

.active {
  background-color: red;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.intro-message { 
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
/*    background-image: url("https://image.ibb.co/e8hfO8/notebook_1280538_1920.jpg") no-repeat center center fixed;*/
    background-color: aqua;
    background-size: cover;
    height: 800px;
}

.intro-message {
    position: relative;
/*    padding-top: 20%;*/
/*    padding-bottom: 20%;*/
}
/*Big header*/
.intro-message > h1 {
    margin-top: -50px;
    text-shadow: 4px 2px 4px #000;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.7);
}

.intro-message > h3 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    color: skyblue;
}

/*
.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
*/

.intro-message img {
    position: relative;
}

.animate {
    transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
}

#photo1.animate {
    transform: translate(15em,0);
    -moz-transform: translate(15em,0);
    -webkit-transform: translate(15em,0);
}

/* bring photo1 to front
#photo1 {
    z-index: 2; 
}
*/

#photo3.animate {
    transform: translate(-15em,0);
    -moz-transform: translate(-15em,0);
    -webkit-transform: translate(-15em,0);
}

.slogan {
    animation-delay: 2s;
}

/*------------social medial buttons------------------*/

.socialBtnUl {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socialBtnUl .socialBtnLi {
    padding-top: 40px;
    list-style: none;
    margin: 0 15px;
}

.socialBtnUl .socialBtnLi a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
}

.socialBtnUl .socialBtnLi a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.socialBtnUl .socialBtnLi a:hover:before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}

.socialBtnUl .socialBtnLi a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
}

/*-------------my skills---------------*/

.skill-heading {
    text-align: center;
}

.skills-div {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: silver;
}



.porth2 {
    text-align: center;
}
.below-porth2 {
    text-align: center;
}

.portf-intro {
    padding-bottom: 5%;
}


#tabbed-content li{
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#tabbed-content .panel{
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}

#tabbed-content .panel.active{
    display: block;
}



#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
  border: 1px outset rgba(255, 255, 255, 0.6);
}

#portfolio .portfolio-item:hover {
  transition: 0.5s;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.9);
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
/**/
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(0, 0, 0, .7);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s,
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(0,0,0, 0.8);
  text-align: center;
  padding: 25px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  color: #fff;
  text-transform: none;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 13px;
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

@media (min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
